.Header_Body{
    margin: 0;
}

header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4C4E4;
    font-size: large;
    width: auto;
    height: 75px;
    z-index: 1;
}

.Logo{
    margin-left: 48vw;
    margin-right: auto;
    width: 3% ;
    height: auto;
}

.Header_Buttons{
    padding: 5px 25px;
}

.GitHub_Button{
    font-size: 1vw;
    margin-left: 2vh;
    margin-right: 2vh;
    background-color: #171515 ;
    color: #fff ;
    border-radius: 37px;
    border: none;
    transition: 0.4s;
}
.GitHub_Button:hover{
    cursor: grab; /*help*/
    transform:scale(1.2);
    background-color: #171515 ;
    opacity: 0.9;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}
.GitHub_Button:active{
    cursor: grabbing;
}

.Linkedin_Button{   
    font-size: 1vw;
    margin-left: 2vh;
    margin-right: 2vh; 
    background-color: #0e76a8 ;
    color: #fff;
    border-radius: 37px;
    border: none;
    transition: 0.4s;
}
.Linkedin_Button:hover{
    cursor: grab; /*help*/
    transform:scale(1.2);
    background-color: #0e76a8 ;
    opacity: 0.9;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}
.Linkedin_Button:active{
    cursor: grabbing;
}

.Mail_Button{
    font-size: 1vw;
    margin-left: 2vh;
    margin-right: 2vh;
    background-color: #fff;
    color: #000;
    border-radius: 37px;
    border: none;
    transition: 0.4s;
}
.Mail_Button:hover{
    cursor: grab; /*help*/
    transform:scale(1.2);
    background-color: #fff ;
    opacity: 0.9;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}
.Mail_Button:active{
    cursor: grabbing;
}

.CV_Button{
    font-size: 1vw;
    margin-left: 2vh;
    margin-right: 2vh;
    background-color: #fff;
    color: #000;
    border-radius: 37px;
    border: none;
    transition: 0.4s;
}
.CV_Button:hover{
    cursor: grab; /*help*/
    transform:scale(1.2);
    background-color: #fff ;
    opacity: 0.9;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}
.CV_Button:active{
    cursor: grabbing;
}

section{
    height: auto;
    color: #000;
}

.Seccion_1{
    background-color: #FFBF5C;
}

.Titulo_1{
    font-size: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family:'Times New Roman', Times, serif;

}

.Texto_Normal{
    font-size: 24px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family:'Times New Roman', Times, serif;

}

.Display_Text{
    font-size: 24px;
    display: none;
    justify-content: center;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

.Display_Button{
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    color:#fff;
    font-family:'Times New Roman', Times, serif;

}
.Display_Button:hover{

    transition: 0.5s;
    cursor: help; /*help*/
}

.Seccion_2{
    background-color: #ffd8f8;
}

.Titulo_2{
    font-size: 48px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family:'Times New Roman', Times, serif;

}

.Grid_Button{
    border: none;
    background: none;
    font-size: 1.25vw;
    font-family:'Times New Roman', Times, serif;
    color: #00000000;
    transition: 0.5s;
}
.Grid_Button:hover{
    cursor: grab; /*help*/
    transform:scale(1.05);
    text-shadow: 5px 13px 20px rgba(0, 0, 0, 1);
    transition: 0.4s;
    transition: 1s;
    color:#000;
}
.Grid_Button:active{
    cursor: grabbing;
}

.celda{
    width: 35%;
    height: auto;
    padding: -20px;
}

.Seccion_3{
    background-color: #b97bab;
}

.Grid_Displays{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    background-color: none;
    padding-right: 4%;
}

.Grid_Studies{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap:1rem;
    color: #fff;
    background-color: none;
}

.Grid_Works{
    place-items: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap:1rem;
    color: #fff;
    background-color: none;
}

.Seccion_4{
    background-color: #ffd8f8;
}
.Titulo_3{
    font-size: 36px;
    display: flex;
    font-family:'Times New Roman', Times, serif;
}

.Texto_Footer{
    font-size: 16px;
    display: flex;
    font-family:'Times New Roman', Times, serif;
}

.Error_Button{
    font-size: 1.25vw;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    border: none;
    background: none;
}
.Error_Button:hover{
    cursor: grab; /*help*/
    transform:scale(1.05);
    text-shadow: 5px 13px 20px rgba(0, 0, 0, 1);
    transition: 0.4s;
    animation: shake;
}
.Error_Button:active{
    cursor: grabbing;
}

.Grid_Button_Work{
    border: none;
    background: none;
    font-size: 1.25vw;
    font-family:'Times New Roman', Times, serif;
    color: #00000000;
    height: 30vh;
    width: 30vh;
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: 0.5s;
}
.Grid_Button_Work:hover{
    cursor: grab; /*help*/
    transform:scale(1.05);
    text-shadow: 5px 13px 20px rgba(0, 0, 0, 1);
    transition: 0.4s;
    transition: 1s;
    color:#ffffff;
}
.Grid_Button_Work:active{
    cursor: grabbing;
}